@import 'src/styles/_common.scss';

.cell {
  flex: 1 0 calc(25% - 2px);
  justify-content: center;
  align-items: center;
  margin: 1px;
  background: #E9D2FF;
  border-bottom: 1px solid #a5a5a5;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  & + & {
    border-right: 1px solid #a5a5a5;
  }

  &:first-child {
    border-right: 1px solid #a5a5a5;
  }

  .cell-content {
    position: fixed;
    font-size: 18px;
    font-weight: bold;
  }
}